@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

@include mdMinPoint {
  .blog {
    display: flex;

    &__article {
      text-align: start;
    }

    &__link {
      font-family: Titillium Web;
      color: $para-color;
    }
  }
}