// This partial contains repeatable property values, such as brand colors and sizes

//Colors
$color-theme: #3D3D3D; //kinda gray
$heading-theme: #FFD154; //yellow
$para-color: #ffffff; //white

//Layout
$nav-height: 50px;

//Screen
$sm-screen: 500px;
$md-screen: 823px;
$lg-screen: 1200px;