@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

.footer {
  color: $heading-theme;
  font-size: 25px;
  text-align: center;

  &__list {
    list-style: none;
  }
}

@include mdMinPoint {
  .footer {
    font-size: 30px;

    &__list {
      display: flex;
    }

    &__item {
      flex-basis: 80px;
      flex: 0 0 auto;

      &:nth-child(1) {
        margin-right: auto;
        margin-left: 100px;
      }
    }

    &__link {
      margin: 0 30px;
    }
  }


}